@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&family=Roboto:wght@100..900&family=Merriweather:wght@400..700&display=swap');

/* Body */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
    color: #333;
}

/* Header */
header {
    background-color: #0A74DA;  
    padding-top: 1rem;
    font-size: 1rem;
    color: #ffffff;  
}

/* Header h1 */
header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;          
    width: 100%;                 
    margin: 0 auto;             
}

/* Navigation Links */
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0A74DA;
    padding: 5px 0;
}

.nav-links a {
    font-family: 'Roboto', sans-serif; 
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #FF7F50;
}

/* Main */
main {
    padding: 1rem;
    font-size: 1rem;
    color: #333;
    background-color: #e1f5fe;
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

/* Purpose Section */
.purpose {
    border: 3px solid #0A74DA;
    padding: 1rem;
    color: #333;
}

.purpose h1 {
    font-family: 'Raleway', sans-serif; 
    color: #0A74DA;
}

.scenarios {
    border: 3px solid #FF7F50;
    padding: 1rem;
    color: #333;
}

.scenarios h1 {
    font-family: 'Raleway', sans-serif; 
    color: #FF7F50;
}

/* Footer */
footer {
    background-color: #0A74DA;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: white;
}

footer p {
    font-family: 'Raleway', sans-serif; 
    color: white;
    font-size: 1rem;
}
